{
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding-left: 50 px ;
    text-align :left;
    width: 200 px;
    height: 10 px;;
    Margin : 0 ;

}

header h1 {
    margin: 0 ;
}

main {
    padding: 5 px;
}

section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 0 px;
}

footer {
    background: #333;
    color: #fff;
    padding: 5 px ;
    text-align : center;
    width: 20 px;
    height: 10 px;;
    Margin : 0 ;
}